/*PENSER A REUNIR tout les display:flex dans un seul appel*/

/*ajouter un @media au body pour le padding lors du retrecissement*/
body {
  font-family: "Raleway", sans-serif;
  margin: 0;
}

.bodycontain {
  max-width: 1500px;
  margin: 0px auto;
}

section {
  display: block;
  margin: 0 50px;
}

h1 {
  margin: 1rem 0 0.5rem 0;
  font-size: 1.5rem;
}

h2 {
  font-size: 1.5rem;
  margin: 1rem 0 0.5rem 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.selected {
  border-top: 4px solid #0065fc;
  margin-top: -5px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: -15px;
}

.blue {
  color: #0065fc;
}
.grey {
  color: #f2f2f2;
}

p {
  font-size: 0.9rem;
  margin: 0.5rem;
}

p .bold {
  font-weight: bold;
}

.bb {
  box-sizing: border-box;
}

a:hover {
  opacity: 50%;
  transition: 0.4s;

}

/* -----Structure----- */

/*--Header--*/

.logo {
  height: 45px;
  width: 100px;
  padding-top: 35px; /* PROBLEME !!  remet une marge au body*/
}

.mainheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 50px;
}

nav {
  display: flex;
  align-items: center;
}

nav .navbuttons {
  display: flex;
  flex-wrap: wrap;
}

.navbuttons a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  margin-right: 30px;
  margin-left: 30px;
}

/*--Search and filters--*/

/*Search*/
.searchform {
  width: 420px;
  height: auto;
  font-size: 0;
}

.gpslogo {
  height: 40px;
  font-size: 16px;
  padding: 9px 4% 11px 4%;
  border-top-left-radius: 11px;
  border-bottom-left-radius: 11px;
  background-color: #f2f2f2;
  text-align: center;
}

.search-field {
  padding: 10px;
  width: 56%;
  outline: none;
  font-weight: bold;
  border: 1px solid #f2f2f2;
}

.formbutton {
  width: 24%;
  border: 0 none;
  background-color: #0065fc;
  height: 38px;
  border-radius: 0 11px 11px 0;
  color: white;
  font-weight: bold;
}

/*Filters*/

.filters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.fakeswitch {
  display: flex;
  align-items: center;
  border: 2px solid #f2f2f2;
  height: 35px;
  border-radius: 30px;
  margin-left: 15px;
}

.fakeswitch:hover {
  box-shadow: 0 0 6px black;
  transition: 0.4s;
}

.filtericon {
  padding: 12px;
  background-color: #deebff;
  border-radius: 30px;
  color: #0065fc;
}

.filtername {
  margin: 10px;
}

#infoslogo {
  font-size: 10px;
  padding: 4px 7px 5px 7px;
  color: #0065fc;
  border: 1px solid #f2f2f2;
  border-radius: 100px;
}


/*--central section--*/
/*accomodations*/
.central {
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin: 0 50px 40px 50px;
}

#accomodations {
  width: 61%;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  border-radius: 15px;
  padding: 20px 40px 20px 40px;

  margin-right: 20px;
  height: 626px;
}

.resultcards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 30.3rem;
}

.resultcard {
  display: flex;
  flex-direction: column;
  flex-basis: 30.5%;
  background-color: white;
  padding: 5px;
  height: 13.3rem;

  border-radius: 25px;
  box-shadow: 0 0 7px #bdbdbd;
  box-sizing: border-box;
}

.resultcard a img {
  width: 100%;
  height: 114px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.textaccocard {
  margin-left: 0.6rem;
  margin-bottom: 0.33rem;
}

.rated {
  margin-left: 0.33rem;
}


/* popular */
#popular {
  display: flex;
  flex-direction: column;
  max-width: 30%;
  background-color: #f2f2f2;
  border-radius: 15px;
  padding: 20px 40px 20px 40px;
  height: 626px;
  margin-left: 20px;

}

#popular header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.popularcard a img {
  width: 37%;
  object-fit: cover;
  border-radius: 20px 0 0 20px;
}

.popularcards {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.popularcard {
  display: flex;
  flex-direction: row;

  border-radius: 25px;
  padding: 5px;
  background-color: white;
  height: 144px;
}

.popcardcontain {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 60%;
  margin-left: 20px;
}

.popularcard a {
  display: flex;
}

.popularrate {
  margin-left: 0.35rem;
}

/*--activity--*/
/* 
.sharedcolumn .activitys a img {
  object-fit: cover;
  width: 90%;
  height: 100%;
} */

#activity {
  height: 550px;
  margin-bottom: 40px;
}

.activitycards {
  display: flex;
  justify-content: space-between;
}

.cardlarge,
.carda,
.cardb,
.cardc,
.cardd {
  display: flex;
  flex-direction: column;
}
.cardlarge p,
.carda p,
.cardb p,
.cardc p,
.cardd p {
  line-height: 3.7rem;
  margin-left: 1rem;
}

.cardlarge {
  height: 30rem;
  width: 23%;
  box-shadow: 0 0 7px #bdbdbd;
  border-radius: 15px;
  overflow: hidden;
}

.imglarge {
  object-fit: cover;
  height: 26.3rem;
}

.sharedcolumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 23%;
  height: 30rem;
}
.cardlarge p,
.carda p,
.cardb p,
.cardc p,
.cardd p {
  line-height: 3.7rem;
  margin-left: 1rem;
}

.cardlarge {
  height: 30rem;
  width: 21%;
  box-shadow: 0 0 7px #bdbdbd;
  border-radius: 15px;
  overflow: hidden;
}

.imglarge {
  object-fit: cover;
  height: 26.3rem;
}

.sharedcolumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 21%;
  height: 30rem;
}

.carda {
  height: 15.8rem;
  max-height: 100%;
  box-shadow: 0 0 7px #bdbdbd;
  border-radius: 15px;
  overflow: hidden;
}

.cardb {
  height: 11rem;
  box-shadow: 0 0 7px #bdbdbd;
  border-radius: 15px;
  overflow: hidden;
}
.cardc {
  height: 13rem;
  max-height: 100%;
  box-shadow: 0 0 7px #bdbdbd;
  border-radius: 15px;
  overflow: hidden;
}

.cardd {
  height: 13.9rem;
  box-shadow: 0 0 7px #bdbdbd;
  border-radius: 15px;
  overflow: hidden;
}

.imgsmla {
  object-fit: cover;
  height: 12.1rem;
  width: 100%;
}
.imgsmlb {
  object-fit: cover;
  height: 7.3rem;
  width: 100%;
}
.imgsmlc {
  object-fit: cover;
  height: 9.3rem;
  width: 100%;
}
.imgsmld {
  object-fit: cover;
  height: 10.2rem;
  width: 100%;
}

/*--Footer--*/

footer {
  background-color: #f2f2f2;
}

.globalfooter {
  display: flex;
  justify-content: space-around;
  width: 1440px;
  margin: 0 auto;
}

footer div ul li:first-child {
  margin-bottom: 1.2rem;
  font-weight: bold;
}

footer div {
  width: 1440px;
}

footer div ul li {
  margin-top: 0.5rem;
}
