/* Populard card pictures don't have the same size!!! */

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
}

.bodycontain {
  max-width: 1500px;
  margin: 0px auto;
}

section {
  display: block;
  margin: 0 50px;
}

h1 {
  margin: 2rem 0 0.5rem 0;
  font-size: 1.5rem;
}

h2 {
  font-size: 1.5rem;
  margin: 1rem 0 0.5rem 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.selected {
  border-top: 4px solid #0065fc;
  margin-top: -5px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: -15px;
}

.blue {
  color: #0065fc;
}
.grey {
  color: #f2f2f2;
}

p {
  font-size: 0.9rem;
  margin: 0.5rem 0;
}

p .bold {
  font-weight: bold;
}

.bb {
  box-sizing: border-box;
}

a:hover {
  opacity: 50%;
  transition: 0.4s;
}


/* -----Structure----- */

/*--Header--*/

.logo {
  height: 45px;
  width: 100px;
  padding-top: 35px;
}

.mainheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 50px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav .navbuttons {
  display: flex;
  flex-wrap: wrap;
}

.navbuttons a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  margin-right: 30px;
  margin-left: 30px;
}

/*--Search and filters--*/

/*Search*/
.searchform {
  max-width: 420px;
  height: auto;
  margin-top: 20px;
  font-size: 0;
}

.gpslogo {
  height: 40px;
  font-size: 16px;
  padding: 9px 4% 11px 4%;
  border-top-left-radius: 11px;
  border-bottom-left-radius: 11px;
  background-color: #f2f2f2;
  text-align: center;
}

.search-field {
  padding: 10px;
  width: 56%;
  outline: none;
  font-weight: bold;
  border: 1px solid #f2f2f2;
  font-family: "Raleway", sans-serif;
}

form p {
  font-size: 0;
}

.formbutton {
  width: 24%;
  border: 0 none;
  background-color: #0065fc;
  height: 38px;
  border-radius: 0 11px 11px 0;
  color: white;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
}

.searchbutton {
  display: none;
}

section i{
  display: none
}



/*Filters*/
.filtersection {
  display: flex;
  justify-content: space-between;
}

.filters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.fakeswitch {
  display: flex;
  align-items: center;
  border: 2px solid #f2f2f2;
  height: 35px;
  border-radius: 30px;
  margin: 10px 15px;
}

.fakeswitch:hover {
  box-shadow: 0 0 6px black;
  transition: 0.4s;
}

.filtericon {
  padding: 12px;
  background-color: #deebff;
  border-radius: 30px;
  color: #0065fc;
}

.filtername {
  margin: 10px;
}

#infoslogo {
  font-size: 10px;
  padding: 4px 7px 5px 7px;
  margin-bottom: 30px;
  color: #0065fc;
  border: 1px solid #f2f2f2;
  border-radius: 100px;
}

/*--central section--*/
/*accomodations*/
.central {
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin: 0 50px 40px 50px;
}

#accomodations {
  width: 61%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  background-color: #f2f2f2;
  border-radius: 15px;
  padding: 20px 40px 20px 40px;

  margin-right: 20px;
  height: 626px;
}

.resultcards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 30.3rem;
}

.resultcard {
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: white;
  padding: 5px;
  height: 13.3rem;

  border-radius: 25px;
  box-shadow: 0 0 7px #bdbdbd;
  box-sizing: border-box;
}

.resultcard a img {
  width: 100%;
  height: 114px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.textaccocard {
  margin-left: 0.6rem;
  margin-bottom: 0.33rem;
}

.rated {
  margin-left: 0.33rem;
}

/* popular */
#popular {
  display: flex;
  flex-direction: column;
  max-width: 27%;
  background-color: #f2f2f2;
  border-radius: 15px;
  padding: 20px 40px 20px 40px;
  height: 626px;
  margin-left: 20px;
}

#popular header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.popularcard a img {
  width: 37%;
  object-fit: cover;
  border-radius: 20px 0 0 20px;
}

.popularcards {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.popularcard {
  display: flex;
  flex-direction: row;

  border-radius: 25px;
  padding: 5px;
  background-color: white;
  height: 9rem;
}

.popcardcontain {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 60%;
  margin-left: 20px;
}

.popularcard a {
  display: flex;
}

.popularrate {
  margin-left: 0.35rem;
}

@media screen and (max-width: 1440px) {
  .central {
    display: flex;
    flex-direction: column;
  }

  #accomodations {
    width: auto;
    height: auto;
    margin: 15px 0;
  }

  .resultcards {
    justify-content: space-around;
    align-content: space-around;
  }

  #popular {
    order: -1;
    max-width: 100%;
    height: auto;
    margin: 15px 0;
    border-radius: 0;
  }

  .popularcards {
    flex-direction: row;
    margin: 20px 0;
  }

  .popularcard {
    width: 30%;
  }

  .globalfooter {
    width: auto;
  }

  footer div {
    width: auto;
  }
}

@media screen and (max-width: 1040px) {
  .central {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  #accomodations {
    background-color: white;
  }

  .cardc p {
    margin-top: 0.5rem !important;
  }

  .actextlrg {
    margin-top: 0.5rem !important;
  }

}

@media screen and (max-width: 900px) {
  .selected {
    border-top: none;
    border-bottom: 4px solid #0065fc;
    margin-top: 0;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
  }

  .mainheader {
    margin: 0;
  }

  nav {
    flex-direction: column;
    align-items: unset;
  }

  .logo {
    /*     position: sticky;
    top: 0;
    left: 0; */
    margin-left: 5%;
  }

  nav .navbuttons {
    flex-wrap: nowrap;
    width: 100%;
  }

  .navbuttons a:last-child {
    position: absolute;
    top: 20px;
    right: 0px;
  }

  .navbuttons a:nth-child(1) {
    width: 50%;
    margin: 0;
    border-bottom: 4px solid #0065fc;
  }

  .navbuttons a:nth-child(2) {
    width: 50%;
    margin: 0;
    border-bottom: 4px solid #f2f2f2;
  }

  section {
    margin: 0 20px;
  }

  #popular {
    height: 40rem;
    padding: 20px 20px 20px 20px;
  }

  .popularcards {
    flex-direction: column;
    justify-content: space-around;
  }

  .popularcard {
    width: auto;
  }

  .popularcard a img {
    width: 15em
  }

  #accomodations {
    padding: 20px 20px 20px 20px;
  }

  .resultcards {
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
  }

  .resultcard {
    width: 100%;
    margin: 15px 0;
  }


/* 
  .carda {
    width: 100%;
    max-height: 114px;
    object-fit: cover;
  } */



  #activity {
    height: auto !important
  }

  .activitycards {
    flex-direction: column;
    row-gap: 40px;
    display: none;
  }

  .imglarge {
    width: 100%;
    max-height: 114px;
    object-fit: cover;
  }

  .cardlarge,
  .carda,
  .cradb,
  .cardc,
  .cardd {
    max-height: 160px;
    /*   width: 100%;
display: none; */
  }

  .cardlarge p,
  .carda p,
  .cardb p,
  .cardc p,
  .cardd p {
    line-height: unset;
    margin-left: 1rem;
  }

  .imgsmla, .imgsmlb, .imgsmlc, .imgsmld {
    height: 114px !important;
  }
  
  .sharedcolumn {
    row-gap: 40px;
    min-width: 100%;
  }


}

@media screen and (max-width: 720px) {

  .gpslogo {
    width: 40px !important;
  }

  .searchform{
    max-width: 100% !important;
  }

  .search-field {
    width: unset !important;
  }

  .formbutton {
    display: none;
  }

  .searchbutton {
    width: 40px;
    border: 0 none;
    background-color: #0065fc;
    height: 38px;
    border-radius: 0 11px 11px 0;
    color: white;
    font-weight: bold;
    display: unset;
  }

  .popularcard a img {
    width: 37%
  }

  #activity {
    height: auto;
  }

.globalfooter {
  flex-wrap: wrap;
}
}

@media screen and (min-width: 901px) {
  .cardlarge {
    width: 23%;
  }
}

/*--activity--*/
/* 
.sharedcolumn .activitys a img {
  object-fit: cover;
  width: 90%;
  height: 100%;
} */

#activity {
  height: 550px;
  margin-bottom: 40px;
}

#activity header {
  margin-bottom: 20px;
}

.activitycards {
  display: flex;
  justify-content: space-between;
}

.cardlarge,
.carda,
.cardb,
.cardc,
.cardd {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 7px #bdbdbd;
  border-radius: 15px;
  overflow: hidden;
}

.cardlarge p,
.carda p,
.cardb p,
.cardc p,
.cardd p {
  margin-left: 1rem;
  margin-top: 1rem;
}

.cardlarge {
  height: 30rem;
}

.imglarge {
  object-fit: cover;
  height: 26.3rem;
}

.sharedcolumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 21%;
  height: auto;
}

.carda {
  height: 15.8rem;
}

.cardb {
  height: 11rem;
}
.cardc {
  height: 13rem;
}

.cardd {
  height: 13.9rem;
}

.imgsmla {
  object-fit: cover;
  height: 12.1rem;
  width: 100%;
}
.imgsmlb {
  object-fit: cover;
  height: 7.3rem;
  width: 100%;
}
.imgsmlc {
  object-fit: cover;
  height: 9.3rem;
  width: 100%;
}
.imgsmld {
  object-fit: cover;
  height: 10.2rem;
  width: 100%;
}

/*--Footer--*/

footer {
  position: relative;
  bottom: 0;
  background-color: #f2f2f2;
}

.globalfooter {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

footer div ul li:first-child {
  margin-bottom: 1.2rem;
  font-weight: bold;
}

footer div {
  width: 1440px;
}

footer div ul li {
  margin-top: 0.5rem;
}
